.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px auto;
}
.services .services-title {
  position: relative;
}
.services-title h1 {
  padding: 0 30px;
  font-size: 70px;
  font-weight: 600;
}
.services-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin: 30px 25px;
}
.services-format {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  border-radius: 10px;
  border: 2px solid #fff;
  transform: 0.3s;
  cursor: pointer;
}
.services-format h3 {
  font-size: 28px;
  font-weight: 600;
}
.services-format h2 {
  font-size: 32px;
  font-weight: 800;
  background: linear-gradient(270deg, #df8908 50%, #b415ff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services-format p {
  color: #d4d4d4;
  font-size: 18px;
  line-height: 30px;
  max-width: 300px;
}
.serivces-readmore {
  display: flex;
  gap: 20px;
  align-items: center;
}
.services-format:hover {
  border: 2px solid #ff00ff;
  background-image: linear-gradient(45deg, #3f0028, #582300);
  transform: scale(1.05);
}
@media (max-width: 768px) {
  .services {
    align-items: center;
    gap: 70px;
    margin: 20px 50px;
  }
  .services-title h1 {
    padding: 0;
    font-size: 40px;
  }
  .services-title img {
    width: 130px;
    margin-right: -20px;
  }
  .services-format {
    gap: 20px;
    padding: 32px;
  }
  .services-format h2 {
    font-size: 24px;
  }
  .services-format p {
    font-size: 14px;
    line-height: 24px;
    max-width: 300px;
  }
  .serivces-readmore img {
    width: 16px;
  }
  .services-container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
