.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.hero img {
  margin-top: 40px;
  width: 220px;
}
.hero h1 {
  text-align: center;
  width: 55%;
  font-size: 50px;
  font-weight: 600;
}
.hero h1 span {
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero p {
  width: 45%;
  text-align: center;
  font-size: 22px;
  line-height: 30px;
}
.hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 50px;
}
.hero-action .hero-connect {
  padding: 15px 30px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  cursor: pointer;
}
.hero-action .hero-resume {
  padding: 12px 45px;
  border-radius: 50px;
  border: 2px solid #fff;
  cursor: pointer;
}
.hero-connect:hover {
  border: 2px solid #fff;
}
.hero-resume:hover {
  border-color: #b415ff;
}
@media (max-width: 768px) {
  .hero img {
    margin-top: 120px;
    width: 260px;
  }
  .hero h1 {
    margin-top: 50px;
    width: 90%;
    font-size: 30px;
  }
  .hero p {
    width: 70%;
    font-size: 14px;
    line-height: 22px;
    margin: 10px 0;
  }
  .hero-action {
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  .hero-connect,
  .hero-resume {
    padding: 10px 12px !important;
    border-radius: 30px !important;
  }
}
