.mywork {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}
.mywork-title {
  position: relative;
}
.mywork-title h1 {
  padding: 0 30px;
  font-size: 60px;
  font-weight: 600;
}
.mywork-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.mywork-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.mywork-container img {
  box-sizing: border-box;
  width: 343px;
  height: 233px;
  transition: 0.3s;
  cursor: pointer;
}
.mywork-container img:hover {
  transform: scale(1.05);
  border: 4px solid #ff00ff;
  border-radius: 10px;
}
.mywork-showmore {
  display: flex;
  gap: 15px;
  border-radius: 50px;
  border: 2px solid #fff;
  padding: 15px 30px;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 50px;
  transition: 0.3s;
}
.mywork-showmore:hover {
  gap: 30px;
}
@media (max-width: 768px) {
  .mywork {
    gap: 50px;
    margin: 50px 70px;
    align-items: center;
  }
  .mywork-title h1 {
    padding: 0;
    font-weight: 600;
    font-size: 40px;
  }
  .mywork-title img {
    width: 130px;
    margin-right: -20;
  }
  .mywork-container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .mywork-container img {
    width: 100%;
    height: 100%;
  }
  .mywork-showmore {
    padding: 10px 20px;
    margin: 30px auto;
    cursor: pointer;
  }
}
