.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}
.contact-title {
  position: relative;
}
.contact-title h1 {
  padding: 0 30px;
  font-size: 70px;
  font-weight: 600;
}
.contact-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.contect-section {
  display: flex;
  gap: 150px;
}

.contact-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-left h1 {
  font-size: 55px;
  font-weight: 700;
  background: linear-gradient(270deg, #df8908 80%, #b415ff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-left p {
  max-width: 600px;
  color: #d8d8d8;
  font-size: 20px;
  line-height: 25px;
}
.contact-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #d8d8d8;
  font-size: 18px;
}
.contact-detail {
  display: flex;
  align-items: center;
  gap: 15px;
}
.contact-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}
.contact-right label {
  color: #d8d8d8;
  font-size: 20px;
  font-weight: 500;
}
.contact-right input {
  border: none;
  width: 500px;
  height: 48px;
  padding-left: 10px;
  border-radius: 4px;
  background: #32323c;
  color: #ababab;
  font-size: 20px;
}
.contact-right textarea {
  width: 500px;
  border: none;
  padding: 10px;
  border-radius: 4px;
  background: #32323c;
  color: #ababab;
  font-size: 22px;
}
.contact-right .contact-submit {
  border: none;
  color: #fff;
  border-radius: 30px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  font-size: 20px;
  padding: 15px 30px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.contact-right .contact-submit:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .contact {
    gap: 50px;
    margin: 50px 70px;
    align-items: center;
  }
  .contact-title h1 {
    padding: 0;
    font-size: 40px;
    font-weight: 600;
  }
  .contact-title img {
    width: 130px;
    margin-right: -20px;
  }
  .contect-section {
    flex-direction: column;
  }
  .contact-left h1 {
    font-size: 35px;
  }
  .contact-left p {
    font-size: 14px;
  }
  .contact-detail {
    gap: 10px;
  }
  .contact-detail img {
    width: 20px;
  }
  .contact-right label {
    font-size: 16px;
  }
  .contact-right input {
    width: 100%;
    font-size: 14px;
  }
  .contact-right textarea {
    width: 98%;
    font-size: 14px;
  }
  .contact-submit {
    font-size: 14px !important;
    padding: 10px 20px !important;
  }
}
