.footer {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
}
.footer-top-left p {
  font-size: 20px;
  max-width: 500px;
}
.footer-top-right {
  display: flex;
  align-items: center;
  gap: 25px;
}
.footer-email-input {
  display: flex;
  gap: 20px;
  padding: 20px 30px;
  border-radius: 50px;
  background: #32323b;
  padding-right: 80px;
}
.footer-email-input input {
  outline: none;
  border: none;
  background: transparent;
  color: #a0a0a0;
  font-size: 18px;
}
.footer-email-input:hover {
  border: 2px solid #fff;
}
.footer-subscribe {
  font-size: 20px;
  padding: 22px 50px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  cursor: pointer;
  transition: 0.3s;
}
.footer-subscribe:hover {
  transform: scale(1.1);
}
.footer-buttom {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.footer-buttom-right {
  display: flex;
  gap: 50px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .footer {
    margin: 50px 70px;
  }
  .footer-top {
    flex-direction: column;
    gap: 50px;
  }
  .footer-buttom {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10px;
  }

  .footer-email-input {
    width: 300px;
    padding: 10px 20px;
  }
  .footer-subscribe {
    font-size: 16px;
    padding: 14px 32px;
    border-radius: 50px;
  }
}
