@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Outfit", sans-serif;
  height: 100vh;
  color: #fff;
  background-color: #161513;
}
